body {
  background: #fff;
  position: relative;
  min-height: 100%;
}

.nav {
  width: 100%;
  height: 300px;
  transform: rotate(180deg);
}
.project{
  box-shadow: 0 0 0px #888888;
  -moz-box-shadow: 0 0 0px #888888;
  -webkit-box-shadow: 0 0 0px #888888;

  -moz-transition: -moz-box-shadow 1s;
  -webkit-transition: -webkit-box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.project:hover {
  box-shadow: 0 0 10px #888888;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;

}
.main-content{
  box-shadow: 0 0 8px #888888;
  -moz-box-shadow: 0 0 8px #888888;
  -webkit-box-shadow: 0 0 8px #888888;
}

/* Triangles */
.triangle {
  text-decoration: none;
  display: block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -150px;
}
.triangle span {
  position: absolute;
  font: bold 22px/24px Arial;
  color: #FFF;
}
.triangle.large {
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: top left ;
  transform: rotate(30deg);
  background: #f1c40f;
}
.triangle.small {
  top: 75px;
  right: 0;
  z-index: 2;
  transform-origin: top right;
  transform: rotate(-25deg);
  background: #2ecc71;
}

/* Text */
.triangle.large span {
  transform: rotate(-30deg);
  top: 80px;
  left: 100px;
}
.triangle.small span {
  transform: rotate(25deg);
  top: 50px;
  right: 100px;
}

/* Sides */
.half {
  position: relative;
  height: 300px;
  width: 50%;
  float: left;
  overflow: hidden;
}
.half.right .triangle.large {
  left: auto;
  right: 0;
  background: #8e44ad;
  transform-origin: top right;
  transform: rotate(-30deg);
}
.half.right .triangle.small {
  left: 0;
  right: auto;
  background: #e74c3c;
  transform-origin: top left;
  transform: rotate(25deg);
}
.half.right .triangle.large span {
  transform: rotate(30deg);
  left: auto;
  top: 80px;
  right: 100px;
}
.half.right .triangle.small span {
  transform: rotate(-25deg);
  right: auto;
  top: 50px;
  left: 100px;
}

.nav .half .triangle span, .nav .half.right .triangle span{
  transform: rotate(-180deg);
}

/* Hover */
.triangle:hover {
  background: #333 !important;
}

/* Transition */
.triangle {
  transition: transform 0.5s, top 0.5s;
}
.triangle span {
  transition: transform 0.5s, top 0.5s, left 0.5s, right 0.5s;
}

/* Responsive */
@media screen and (max-width: 900px){
  .left .small {
    transform: rotate(-40deg) !important;
  }
  .left .small span {
    transform: rotate(40deg) !important;
  }
  .right .small {
    transform: rotate(40deg) !important;
  }
  .right .small span {
    transform: rotate(-40deg) !important;
  }
}
@media screen and (max-width: 700px){
  .left .large {
    transform: rotate(25deg) !important;
  }
  .left .large span {
    transform: rotate(-25deg) !important;
  }
  .right .large {
    transform: rotate(-25deg) !important;
  }
  .right .large span {
    transform: rotate(25deg) !important;
  }
}
@media screen and (max-width: 500px){
  .right .triangle,
  .right .triangle span {
    transform: rotate(0deg) !important;
  }
  .left .triangle,
  .left .triangle span {
    transform: rotate(0deg) !important;
  }
  .triangle.small {
    top: 50%;
  }
  .left .large span {
    top: 70px !important;
    left: 20px !important;
  }
  .left .small span {
    top: 70px !important;
    right: 20px !important;
  }
  .right .large span {
    top: 70px !important;
    right: 20px !important;
  }
  .right .small span {
    top: 70px !important;
    left: 20px !important;
  }
}